:root {
    --primaryButtonColor: red;    
    --primaryButtonRadius: 12px;
    --primaryButtonHover: darkred;     
    --primaryButtonText: white;         
}

.my-btn-primary {
    background-color: var(--primaryButtonColor);
    border-radius: var(--primaryButtonRadius);
}

.my-btn-primary:hover {
    background-color: var(--primaryButtonHover);
    color: var(--primaryButtonText);
}
