:root {
    --primaryButtonColor: red;    
    --primaryButtonRadius: 12px;
    --primaryButtonHover: darkred;     
    --primaryButtonText: white;  
    --primaryBackgroundColor: #e6f7ff;
}

.my-btn-primary {
    background-color: var(--primaryButtonColor);
    border-radius: var(--primaryButtonRadius);
}

.my-btn-primary:hover {
    background-color: var(--primaryButtonHover);
    color: var(--primaryButtonText);
}

.my-background-color{
    background-color: var(--primaryBackgroundColor);
}

.form-select{
    width: 12.5%;
    margin-left: 10px;
    border-width: medium;
    border-color: black;
    font-weight: 600;
}
.timelineContainer{
    background-color: #fff;
    border-color: black;
    margin-bottom: 10px;
}